{% extends 'beers/base.html' %}

{% block content %}
  
    <div style="float:left;">
    <h3>Registered users:</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p> 
        <input type="submit" value="Login">
        </p>
    </form>
</div>
<div style="float:left;padding-left: 160px;">
    <h3>New Customers: </h3>
<form action="{% url 'account:signup'%}"><br>
    
    <input type="submit" value="Sign up" />

</form>

</div>

<div id="logincontainer">
</div>
{% endblock %}
